/* Write your CSS code here */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text {
  color: #551e53;
  font-size: 45px;
  font-family: 'Roboto';
  font-weight: 400;
}
